[Unit]
Description=HTTP-based self-hosted embedding server
After=network.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=3
User=james
Type=simple
WorkingDirectory=/home/james/modules/embedapi
ExecStart=/home/james/.local/bin/uvicorn embed_server:app --port 7000

[Install]
WantedBy=multi-user.target
