[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
more-itertools = "*"
openai = "*"
tiktoken = "*"
intermodel = {path = "./../../intermodel"}
httpx = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
